/* #pieChart {    
	position:absolute;
	/* top:40px;
	left:40px; */

/* }

#lineChart {    
	position:absolute;
	top:250px;
	left:420px;
} */

#barChart {
	position:absolute;
	top:600px;
	left:10px;
} */

.slice {
   font-size: 11pt;
   font-family: Verdana;
   fill: white;
   font-weight: bold;	
  	} 

/*for line chart*/
.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.line {
  fill: none;
  /*stroke: steelblue;*/
  stroke-width: 3px;
}

.dot {
  /*fill: white;*/
  /*stroke: steelblue;*/
  stroke-width: 1.5px;
  }
				

.axis text {
    font-family: Verdana;
    font-size: 11px;
}

.title {
	 font-family: Verdana;
    font-size: 15px;	
		
}

.xAxis {
    font-family: verdana;
    font-size: 11px;
    fill: black;
}  

.yAxis {
    font-family: verdana;
    font-size: 11px;
    fill: white;
}

  
table {
	border-collapse:collapse;
	border: 0px;	
	font-family: Verdana;	
	color: #5C5558;
	font-size: 12px;
	text-align: right;			
}

td {
	padding-left: 10px;		
}

#lineChartTitle1 {
	font-family: Verdana;
	font-size  : 14px;
	fill       : lightgrey;
	font-weight: bold;
	text-anchor: middle;
}

#lineChartTitle2 {
	font-family: Verdana;
	font-size  : 72px;
	fill       : grey;
	text-anchor: middle;
	font-weight: bold;
	/*font-style: italic;*/
}

.container-fluid {
    position: relative;
    align-self: center;
    margin-left: 60 px;
    margin-right: 60 px;
}
/* 
.inactive:hover {
  fill: #000;
  cursor: pointer;
} */